@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body  {
  font-family: 'Source Sans Pro', sans-serif;
}

#vis-div {
    background-color: red;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#svg {
    height: 100%;
    width: 100%;
    background-color: #FFF;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*#svg.mouseMove{
    cursor:pointer;
}*/

#footer {
    background-color: #404040;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: #404040;
    color: #6DBDD6;
    color: #FFE658;
    color: #B71427;
    font-weight: bold;
    background-image: url("../img/footerImg.jpg");
}

.sided {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    border-left: thick solid #B71427;
    height: 33vh;
}

.odd {
    background-color: #f5f5f5;
}

.contextMenu {
    position: absolute;
    display: none;
    z-index: 0;
    width: 150px;

    padding: 12px 0;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.contextMenu--active {
    display: block;
}
.contextMenuItem--active {
    display: block;
}

.contextMenuItems {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contextMenuItem {
  display: block;
  margin-bottom: 4px;
}

.contextMenuItem:last-child {
  margin-bottom: 0;
}

.contextMenuLink {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.contextMenuLink:hover {
  color: #fff;
  background-color: #0066aa;
  text-decoration: none;
}

.raw {
    margin: 0;
}

#side-div {
    padding-left: 0;
}

.buttonDiv {
  padding-bottom: 10px;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;

  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;  
}

/*.controlSeqRow {
  margin: 0;
}*/

.leftDiv {
  padding-right: 2px;
}
.rightDiv {
  padding-left: 2px;
}

#buildDiv {
  padding-right: 2px;
}
#algorithmDiv {
  padding-left: 2px;
}
#saveDiv{
  padding-right: 2px;
}
#loadDiv{
  padding-left: 2px;
}

#build {

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

  cursor: pointer;
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}

#algorithm {

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
 /*rgb(244, 176, 66) REMEMBER THIS COLUOR */
  cursor: pointer;
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}

.hoverShadow:hover {
  cursor: pointer;
  box-shadow: 1px 3px 4px #999;
}

#reset {
  background: rgba(254,52,50, 0.75);
  background: -webkit-linear-gradient(rgba(254, 25, 50, 0.55), rgba(254, 52, 50, 0.75));
  background: -o-linear-gradient(rgba(254, 25, 50, 0.55), rgba(254, 52, 50, 0.75));
  background: -moz-linear-gradient(rgba(254, 25, 50, 0.55), rgba(254, 52, 50, 0.75));
  background: linear-gradient(rgba(254, 25, 50, 0.55), rgba(254, 52, 50, 0.75));

}

#settings {
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}

#load {
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
  
}

#save {
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}

#rearrange {
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
  
}


#directed {
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));

}
#undirected {
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}

#weighted {
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));

}
#unweighted {
  background: rgb(254,232,200);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}

#restart {
  background: rgba(22, 108, 247, 0.1);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}


#back {
  background: rgba(255, 0, 0, 0.1);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}


#next {
  background: rgba(255, 0, 0, 0.1);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}

#start {
  background: rgba(255, 0, 0, 0.1);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}


#stop {
  background: rgba(255, 0, 0, 0.1);
  background: -webkit-linear-gradient(white, rgb(254,232,200));
  background: -o-linear-gradient(white, rgb(254,232,200));
  background: -moz-linear-gradient(white, rgb(254,232,200));
  background: linear-gradient(white, rgb(254,232,200));
}

.on {
  border-left: 2px solid rgb(137, 137, 137);
  border-top: 2px solid rgb(137, 137, 137);
  border-right: 2px solid rgb(221, 221, 221);
  border-bottom: 2px solid rgb(221, 221, 221);
}

.off {
  border-left: 2px solid rgb(221, 221, 221);
  border-top: 2px solid rgb(221, 221, 221);
  border-right: 2px solid rgb(137, 137, 137);
  border-bottom: 2px solid rgb(137, 137, 137);
}

.graphOption {
  padding-top: 10px;
  padding-bottom: 10px;
}
.graphOption:hover {
  /*background-color: green;*/
}

.graphOptions {
  padding-bottom: 18px;
}

.savedGraph {
  padding-bottom: 10px;
  padding-left: 10px;
}

.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
  box-shadow: inset 0 0 1px #555;
}

.edgeOff:hover {
  opacity: 0.65; 
}

.edgeRemoved {
  opacity: 0.5;
}
.edgeRemoved:hover {
  opacity: 0.8; 
}

.dirModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dirModal-content {
    background-color: #fefefe;
    margin: 30px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.settingsModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.settingsModal-content {
    background-color: #fefefe;
    margin: 30px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    /*height: 80%;*/
    /*overflow: */
}

.loadModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.loadModal-content {
    background-color: #fefefe;
    margin: 30px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.saveModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.saveModal-content {
    background-color: #fefefe;
    margin: 30px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.rearrangeModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.rearrangeModal-content {
    background-color: #fefefe;
    margin: 30px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 360px; 

}

#dirSVG {
  height: 65vh;
  width: 100%;
  margin: auto;
  /*background-color: red;*/
    
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}


.weightModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.weightModal-content {
    background-color: #fefefe;
    margin: 30px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 360px;
}

#weightInput {
  padding-left: 5px; 
  width: 100%;
  margin: auto;   
}


.nameModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.nameModal-content {
    background-color: #fefefe;
    margin: 30px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 360px;
}

#nameInput {
  padding-left: 5px; 
  width: 100%;
  margin: auto;   
}


hr {
  margin-top: 7px;
  margin-bottom: 7px; 
}

.modalButtonDiv {
  /*padding: 0;*/
}

.modalButton {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: auto;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.apply {
  background: rgb(0,255,0);
  background: -webkit-linear-gradient(rgba(0, 255, 0, 0.7), rgba(0, 255, 0, 0.5));
  background: -o-linear-gradient(rgba(0, 255, 0, 0.7), rgba(0, 255, 0, 0.5));
  background: -moz-linear-gradient(rgba(0, 255, 0, 0.7), rgba(0, 255, 0, 0.5));
  background: linear-gradient(rgba(0, 255, 0, 0.7), rgba(0, 255, 0, 0.5));
}
.apply:active, .apply:hover {
  background: rgb(0,255,0);
  background: -webkit-linear-gradient(rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0.6));
  background: -o-linear-gradient(rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0.6));
  background: -moz-linear-gradient(rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0.6));
  background: linear-gradient(rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0.6));
}

.cancel {
  background: rgb(255, 0, 0);
  background: -webkit-linear-gradient(rgba(255, 0, 0, 0.7), rgba(255,0,0, 0.5));
  background: -o-linear-gradient(rgba(255, 0, 0, 0.7), rgba(255,0,0, 0.5));
  background: -moz-linear-gradient(rgba(255, 0, 0, 0.7), rgba(255,0,0, 0.5));
  background: linear-gradient(rgba(255, 0, 0, 0.7), rgba(255,0,0, 0.5));
}

.cancel:active, .cancel:hover {
  background: rgb(255, 0, 0);
  background: -webkit-linear-gradient(rgba(255, 0, 0, 0.8), rgba(255,0,0, 0.6));
  background: -o-linear-gradient(rgba(255, 0, 0, 0.8), rgba(255,0,0, 0.6));
  background: -moz-linear-gradient(rgba(255, 0, 0, 0.8), rgba(255,0,0, 0.6));
  background: linear-gradient(rgba(255, 0, 0, 0.8), rgba(255,0,0, 0.6));
}

#rearrangeOptions {
  text-align: center;
}

.rearrangeOption {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rearrangeOption:active, .rearrangeOption:hover {
  background: rgba(0, 102, 204, 0.3);
  background: -webkit-linear-gradient(rgba(0, 102, 204, 0.3), white, rgba(0, 102, 204, 0.3));
  background: -o-linear-gradient(rgba(0, 102, 204, 0.3), white, rgba(0, 102, 204, 0.3));
  background: -moz-linear-gradient(rgba(0, 102, 204, 0.3), white, rgba(0, 102, 204, 0.3));
  background: linear-gradient(rgba(0, 102, 204, 0.3), white, rgba(0, 102, 204, 0.3));
}

.rearrangeSelected {
  background: rgba(0, 102, 204, 0.3);
  background: -webkit-linear-gradient(rgba(0, 102, 204, 0.3), white, rgba(0, 102, 204, 0.3));
  background: -o-linear-gradient(rgba(0, 102, 204, 0.3), white, rgba(0, 102, 204, 0.3));
  background: -moz-linear-gradient(rgba(0, 102, 204, 0.3), white, rgba(0, 102, 204, 0.3));
  background: linear-gradient(rgba(0, 102, 204, 0.3), white, rgba(0, 102, 204, 0.3));
}

#defaultGraphsButton {
  background: rgba(173, 216, 230, 1);
  background: -webkit-linear-gradient(rgba(173, 216, 230, 1), white, rgba(0, 102, 204, 0.3));
  background: -o-linear-gradient(rgba(173, 216, 230, 1), white, rgba(0, 102, 204, 0.3));
  background: -moz-linear-gradient(rgba(173, 216, 230, 1), white, rgba(0, 102, 204, 0.3));
  background: linear-gradient(rgba(173, 216, 230, 1), white, rgba(0, 102, 204, 0.3));
  /*background-color: rgba(173, 216, 230, 1);*/
}
#savedGraphsButton {
  background: rgba(173, 216, 230, 1);
  background: -webkit-linear-gradient(rgba(173, 216, 230, 1), white, rgba(0, 102, 204, 0.3));
  background: -o-linear-gradient(rgba(173, 216, 230, 1), white, rgba(0, 102, 204, 0.3));
  background: -moz-linear-gradient(rgba(173, 216, 230, 1), white, rgba(0, 102, 204, 0.3));
  background: linear-gradient(rgba(173, 216, 230, 1), white, rgba(0, 102, 204, 0.3));
}

#graphsDisplay {
  overflow: scroll; overflow-x:hidden;
    height: 50vh;
}

#code {
  overflow: hidden;
}
pre {
  overflow: hidden;
}


.lightBlue {
  background: rgba(22, 108, 247, 0.3);
  background: -webkit-linear-gradient(white, rgba(22, 108, 247, 0.3));
  background: -o-linear-gradient(white, rgba(22, 108, 247, 0.3));
  background: -moz-linear-gradient(white, rgba(22, 108, 247, 0.3));
  background: linear-gradient(white, rgba(22, 108, 247, 0.3));
}

#settingsOptions {
  height: 60%;
  max-height: 480px;
  overflow: scroll;
}

.settingsOption {
  padding-bottom: 12px;
}
